target
.idea
tests/mapcss/*.parsed
tests/osm/*.bin
tests/rendered/14.png
tests/rendered/15.png
tests/rendered/16.png
tests/rendered/17.png
tests/rendered/18.png
tests/rendered/18_2x.png
tests/rendered/perf_stats_14.html
tests/rendered/perf_stats_15.html
tests/rendered/perf_stats_16.html
tests/rendered/perf_stats_17.html
tests/rendered/perf_stats_18.html
tests/rendered/perf_stats_18_2x.html
